.stats__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats__container > ul {
    list-style: none;
}

.pokemon-image {
    width: 15%;
}

.details {
    display: flex;
}

.pokemon-types {
    list-style: none;
    display: flex;
}

.pokemon-stats {
    display: flex;
}

.pokemon-abilities {
    display: flex;
}

li {
    margin-right: .5rem;
}